@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px ;
}
:root {
  --background: #050505;
  --surface: #111111;
  --surface-light: #1a1a1a;

  --primary: #8b5cf6;
  --primary-light: #a855f7;

  --border: #2b1e4a;

  --text: #ffffff;
  --text-secondary: #b8b8b8;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
  background: var(--bg);
  color: var(--text);
}
